streamlit
numpy
pandas
requests
matplotlib
seaborn
openai   # If using OpenAI for chatbot
scikit-learn
tensorflow  # If using AI models
psycopg2  # PostgreSQL database
mysql-connector-python  # MySQL support
streamlit
openai
langchain
bcrypt
python-dotenv
pyngrok
langchain-community
supabase
streamlit-antd-components
streamlit-echarts
streamlit-extra